* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}
header {
    background-color: #123123;
    color: #fff;
    border-radius: 5px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    background-image: url('image/waether.jfif');
}

header img {
    border-radius: 20%;
    height: 120px;
    width: 120px;
    margin-right: 20%;
    
}

header p {
    background-color: bisque;
    padding: 10px;
    color: #123123;
    font-size: 1.2em;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
   text-align: center;

   
  }
  nav {

    text-align: right;
    padding: 10px 10px;
    
  }
  a{
    padding: 10px 50px;

  }
